@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');

.player {
}

.play-cards {
  flex-grow: 1;
  transition: all 1s;
}

.play-cards :app-card {
  flex-grow: 1;
  transition: all 1s;
}

.play-cards .game-card {
  flex-grow: 1;
  transition: all 1s;
}

.my-cards {
  padding-bottom: 0.5em;
}

.scoreboard {
  width: 15rem;
  position: absolute;
  top: 0px;
  right: 0px;
}
