<app-congratulations *ngIf="winner" [winner]="winner.winner" [score]="winner.score" [blackCard]="winner.blackCard" [cards]="winner.playedCards" [nextCzar]="winner.nextCzar" (done)="nextRound()"></app-congratulations>

<div *ngIf="!winner" class='container-fluid'>
  <h1>Cards Against Isolation</h1>
  <div class='d-flex align-items-center'>
    <div><a href="http://s3.amazonaws.com/cah/CAH_Rules.pdf" target="_">Official Rules</a>&nbsp;|&nbsp;</div>
    <div>My name: <a href='#' id='playerName' (click)="editName(changeNameModal)">{{ playerName }}</a> (click to change)&nbsp;|&nbsp;</div>
    <div><a href='#' (click)="skipCard()">Skip This Card</a></div>
  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

  <ng-template #changeNameModal let-modal>
    <div class="modal-body">
      <p>Enter your name:</p>
      <input type='text' [(ngModel)]='playerName' />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('save')">Update</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('cancel')">Cancel</button>
    </div>
  </ng-template>

  <div *ngIf='players.length == 1' style='text-align: center; font-size: 3rem;'>
    Waiting for more players.
  </div>

  <ng-template #voteModal let-modal>
    <div class="modal-header">
      <h4 class='modal-totle'>Vote</h4>
    </div>
    <div class="modal-body">
      <p>It's time to vote! The suggestion is:</p>
      <blockquote>{{ vote.title }}</blockquote>
      <p>You have {{ vote.timeLeft }} seconds left to vote.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="castVote('yes')">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="castVote('no')">No</button>
    </div>
  </ng-template>

  <!-- Choose Winner Screen -->
  <div *ngIf="game.state == 'choose_winner'">
    <div class='d-flex flex-row justify-content-center mb-3'>
      <app-card [black]='true' [content]="blackCard"></app-card>
    </div>
    <div class='d-flex flex-row justify-content-center'>
      <div class='d-flex flex-column align-items-center' *ngFor="let player of randomizedPlayers">
        <ng-container *ngIf="!player.czar && player.playedCards.length">
          <div *ngIf='czar == playerId'>
            <button (click)="chooseWinner(player.id)" class="btn btn-primary">Winner!</button>
          </div>
          <div class='m-2'>
            <app-card *ngFor="let card of player.playedCards" [content]="card"></app-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="game.state == 'play'">
    <div class='scoreboard'>
      <table class='table table-bordered table-sm'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of game.players">
            <td>
              <fa-icon [icon]="waitIcon(player.id)"></fa-icon>
              {{ player.name }}
              <span *ngIf="player.czar"> (Czar)</span>
              [ <a href='#' (click)='kickPlayer(player.id)'>Kick</a> ]
            </td>
            <td>{{ player.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf='players.length > 1'>
      <div *ngIf='czar == playerId' style='font-size: 2rem;' class='d-flex flex-column align-items-center'>
        <app-card [black]='true' [content]="blackCard"></app-card>
        <b>You are the card czar this round.</b><br />
        <div *ngIf="waiting.length">
          Waiting for {{ waiting.length }} players to play cards.
          <li *ngFor="let player of waiting">
            {{ player.name }}
            <span *ngIf="playersById[player.id].away">(disconnected)</span>
          </li>
          <button *ngIf="waiting.length != players.length - 1" (click)="endThisRound()" class='btn btn-danger'>End Round Early</button>
        </div>
        <div *ngIf="!waiting.length">
          All players are ready.<br />
          <button (click)="endThisRound()" class='btn btn-primary'>Choose Winner</button>
        </div>
      </div>

      <div *ngIf='czar != playerId'>
        <div class='play-cards d-flex justify-content-center'>
          <app-card [black]='true' [content]="blackCard"></app-card>
          <app-card *ngFor="let card of cardSlots; let i = index" [black]='false' [content]="card" (click)="removeCard(card)" [draggable]="cardSlots[i]" (dragstart)="startRemoveCard($event)" (drop)="dropPlayCard($event)" (dragover)="allowDrop($event)" [id]='"slot-" + i'></app-card>
        </div>

        <div class='my-cards d-flex flex-row flex-wrap justify-content-around fixed-bottom' (drop)="dropRemoveCard($event)" (dragover)="allowDrop($event)">
          <app-card *ngFor="let card of myCards" (click)="playCard(card)" [content]="card" draggable="true" (dragstart)="startPlayCard($event)"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
